<template>
    <div class="container">
      <modal name="offers">
        <div class="container">
          <form method="post" action="#" v-on:submit.prevent="filterDuration">
            <span>Ограничение по времени:</span>
            <div class="mb-3 input-group">
              <span class="input-group-text">Часы</span>
              <input type="number" class="form-control" v-model="duration_hours" required id="duration_hours">
            </div>
            <div class="mb-3 input-group">
              <span class="input-group-text">Минуты</span>
              <input type="number" class="form-control" v-model="duration_minutes" required id="duration_minutes">
            </div>
            <button class="btn btn-primary" type="submit">Отфильровать</button>
          </form>
          <table class="table table-striped">
            <thead>
              <th>Аэропорт прилета</th>
              <th>Аэропорт вылета</th>
              <th>Дата прилета</th>
              <th>Дата вылета</th>
              <th>Время в пути</th>
              <th>Цена билета</th>
            </thead>
            <tbody v-show="segments">
              <tr v-for="segment in segments" :key="segment.segment_id" v-show="(segment.duration_minutes <= filter_duration) || filter_duration === null">
                <td>{{ segment.arrival_airport }}</td>
                <td>{{ segment.departure_airport }}</td>
                <td>{{ segment.arrival_date }}</td>
                <td>{{ segment.departure_date }}</td>
                <td>{{ segment.duration_formated }}</td>
                <td>{{ segment.price }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </modal>
      <form method="post" v-on:submit.prevent="get_air" action="`${process.env.VUE_APP_BASEURL}/apis/gusev/air/1.0.0#/search/initSearch`">
        <div class="mb-3 input-group">
          <span class="input-group-text">Откуда</span>
          <input type="text" class="form-control" v-model="departure_code" required id="departure_code">
        </div>
        <div class="mb-3 input-group">
          <span class="input-group-text">Куда</span>
          <input type="text" class="form-control" v-model="arrival_code" required id="arrival_code">
        </div>
        <div class="mb-3 input-group">
          <span class="input-group-text">Когда</span>
          <input type="date" class="form-control" v-model="date_departure" required id="date_departure">
        </div>
        <div class="mb-3 input-group">
          <span class="input-group-text">Класс</span>
          <input type="text" class="form-control" v-model="class_air" required id="class_air">
        </div>

        <button class="btn btn-primary" type="submit">Найти</button>
      </form>
      
      <table v-if="companies" class="table table-striped table-hover table-clicked">
        <thead>
          <th>Лого</th>
          <th>Название</th>
        </thead>
        <tbody>
          <tr v-for="company in companies" :key="company.carrier_code">
            <td v-on:click.prevent="showOffersPopup(company.offers[0].segments)">
              <img :src=company.carrier_logo loading="lazy" class="img-fluid" width="100" height="100" decoding="async">
            </td>
            <td v-on:click.prevent="showOffersPopup(company.offers[0].segments)">{{company.carrier_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</template>


  <script>
  import Vue from 'vue'
  import VModal from 'vue-js-modal'
  import api from '../api/api' // @ is an alias to /src
  import { BootstrapVue, IconsPlugin } from 'bootstrap-vue'

  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'

  
  Vue.use(VModal)
  Vue.use(BootstrapVue)
  Vue.use(IconsPlugin)

  export default {
    name: 'SearchAirlines',
    data() {
      const date_now = new Date()
      const date_now_year = date_now.getFullYear()
      let date_now_month = date_now.getMonth() + 1
      let date_now_day = date_now.getDate()
      
      date_now_month = date_now_month >= 10 ? date_now_month : `0${date_now_month}`
      date_now_day = date_now_day >= 10 ? date_now_day : `0${date_now_day}`
      const str_date_now = `${date_now_year}-${date_now_month}-${date_now_day}`

      return {
        departure_code: "",
        arrival_code: "",
        date_departure: str_date_now,
        class_air: "E",
        companies: null,
        segments: null,
        duration_minutes: '',
        duration_hours: '',
        filter_duration: null
      }
    },
    methods: {
      showOffersPopup: function (segments) {
        this.segments = segments
        this.$modal.show('offers',
        {
          segments: this.segments
        })

      },
      get_air: function () {
        //Инициализация запроса
        api('post', {
          adult_qnt: 1,
          child_qnt: 0,
          infant_qnt: 0,
          class: this.class_air,
          directions: [{
            departure_code: this.departure_code,
            arrival_code: this.arrival_code,
            date: this.date_departure
          }]
        }, 'api/air/search').then(response => (
          setTimeout(()=> { //тут наверное веб-хук должен быть, чтобы отрабатывал когда предложенеия нашлись
            api('get', { //Ищем результаты запроса
          request_id: response.data.request_id
        }, 'api/air/offers').then(response => this.companies = response.data.offers)
          }, 3000)))
      },
      filterDuration: function () {
        this.filter_duration = parseInt(this.duration_hours) * 60 + parseInt(this.duration_minutes)
      }
    },
    mounted () {
        // console.log(api('get', {}, 'airlines'))
    }
  }
  </script>

  <style lang="scss">
    .vm--modal {
      overflow: scroll !important;
    }
  </style>

  <style scoped lang="scss">
    .table-clicked {
      tr {
        cursor: pointer;
        user-select: none;
      }
    }
  </style>